.single2{
    background: url('../../assets/download.jpg'); 
    /* height: 50vh;
    width: 70vw; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
    border-radius: 30px;
  }