.single {
  background: url("../../assets/13.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
  border-radius: 30px;
}

/* .sub-single{
    height: 100vh;
    overflow: scroll;
    max-height: 45rem;
    overflow-x: hidden;
} */
