.section{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/portrait.jpg);
    height: 100vh;
    width: 100%;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;

}

@media (max-width: 768px) {
    .section{
        background: url(/src/assets/bg.png);
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}