.navbar-wrapper {
  padding: 30px;
  padding-top: 50px;
  margin-left: 50px;
  /* opacity: 0; */

  ul {
    display: flex;
    gap: 40px;
    align-items: center;

    .logo{
        color:goldenrod;
        font-size: 40px;
        font-weight: bolder;
        cursor:pointer;
    }

    li {
      list-style: none;

      a {
        color: #ddddddec;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
      }
    }
  }
}


.navbar-wrapper {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-top: 20px;
  margin-left: 50px; */
  color:#fff;

  &.open {
    opacity: 1;
    transform: scale(1);
  }
}

.menu-button {
  display: none;
  @media (max-width: 768px) {
    display: block;
    background-color: red;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 20px;
  }
}



@media (max-width: 768px) {
    .navbar-wrapper {
        padding: 30px;
        padding-top: 50px;
        margin-left: 100px;
      
        ul {
          display: flex;
          flex-direction: column;
          gap: 40px;
          align-items: center;
      
          .logo{
            position: absolute;
              font-size: 30px;
              font-weight: bolder;
              margin-left: -15rem;
          }
      
          li {
            list-style: none;
            display:none;
      
            a {
              color: #fff;
              font-family: Roboto;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration: none;
            }
          }
        }
      }
      
}