.typed-cursor{
  display: none;
}

.hero{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/portrait.jpg);
  height: 100vh;
  width: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1367px) {
  .hero{
    background: url(../../assets/bg.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}